Idea #2/Documentos Originales/descripcion.pdf
Idea #2/Documentos Originales/idea2.zip
Idea #2/Documentos Originales/listado de tarjetas.txt
Idea #2/Documentos Originales/imagenes/logo.png
Idea #3/descripcion.pdf
Idea #3/idea3.zip
Idea #3/imagenes/agua.jpg
Idea #3/imagenes/almendrado.jpg
Idea #3/imagenes/bombones.jpg
Idea #3/imagenes/cerveza.jpg
Idea #3/imagenes/empanada_atun.jpg
Idea #3/imagenes/empanada_carne.jpg
Idea #3/imagenes/empanada_jamonyqueso.jpg
Idea #3/imagenes/gaseosa.jpg
Idea #3/imagenes/helado.jpg
Idea #3/imagenes/jamonymorron.jpg
Idea #3/imagenes/logo.jpg
Idea #3/imagenes/muzzarella.jpg
Idea #3/imagenes/napolitana.jpg
